{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Chavez Portfolio</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{% static 'images/Professional_Photo.jpeg' %}" alt="Apex Finance Logo" class="logo">
            <div class="header-content">
                <h1>Daniel Chavez</h1>
                <p>contact.dchavez@gmail.com | (480) 709-5202</p>
                <a href="https://www.linkedin.com/in/daniel-chavez7/" target="_blank">LinkedIn Profile</a>
            </div>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="#about">About Me</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#leadership">Leadership</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#header">Contact</a></li>
        </ul>
    </nav>
    
    <main>
        <section id="about">
            <h2>About Me</h2>
            <p> Hello! I’m Daniel Chavez, a Computer Science student at College of the Holy Cross with experience in software development and cybersecurity. 
                I’ve built applications with AI-powered tools, secured systems using industry-standard InfoSec tools, and honed skills in programming languages like 
                C++ and Python. My focus is on creating secure and efficient solutions. Current Projects include, a SIEM Lab, APEX Finance, custom DIY server, and TOPS Website.
            </p>
        </section>

        <section id="education">
            <h2>Education</h2>
            <p><strong>College of the Holy Cross</strong>, Worcester, MA<br>
            Bachelor of Arts/Sciences in Computer Science (Expected May 2026)</p>
            <ul>
                <li><strong>Scholarships:</strong> D.C. Scholarship, Faber Scholarship, Holy Cross Grant, Holy Cross More Than One Grant</li>
                <li><strong>Relevant Coursework:</strong> Data Structures, Techniques of Programming, Intro to Cyber Security, Analysis of Algorithms, Computer Systems & Organization, Discrete Structures, Networking, Cybersecurity</li>
            </ul>
        </section>
        
        <section id="experience">
            <h2>Professional Experience</h2>
            <article>
                <h3>APEX Finance</h3>
                <p><strong>Front and Backend Application Developer</strong> (August 2024 – Present)</p>
                <ul>
                    <li>APEX Finance is a comprehensive stock brokerage application that allows users to view, purchase, and sell stocks on the New York Stock
                        Exchange (NYSE)</li>
                    <li>In addition to trading functionality, APEX Finance provides an asset allocation calculator, an integrated stock API interface, and advanced
                        AI-powered chart analysis tools </li>
                    <li>Tech Stack: JavaScript, Python, SQLite, Django and Flask frameworks, and AI APIs for enhanced user
                        experience</li>
                </ul>
            </article>
            
            <article>
                <h3>Holy Cross ITS Department</h3>
                <p><strong>Information Security and Vulnerability Management Intern</strong> (May 2024 – August 2024)</p>
                <ul>
                    <li>Utilized industry-standard InfoSec tools, including Arctic Wolf, Palo Alto, Nessus, Rapid7, and Google Suite</li>
                    <li>Spearheaded the transition from Nessus to Rapid7 for vulnerability scanning and management; responsibilities included interpreting scan
                        results, performing asset discovery, generating asset reports, and pushing critical updates</li>
                    <li>Tech stack: Information Security, Risk Management, Standard Operating Procedure (SOP), Incident Response</li>
                </ul>
            </article>

            <article>
                <h3>Linkedin Learning, Cybrary</h3>
                <p>
                    <strong> Offensive Penetration Testing 
                        <a href="https://www.linkedin.com/learning/certificates/9ae26946138edff4c45a8e4aa877df6ee8349e14043a96d023d161e8f1a570ea?trk=share_certificate" target="_blank" style="text-decoration: none; font-style: italic; color: inherit;">
                            Certificate
                        </a>
                    </strong> 
                    (July 2024 – July 2024)
                </p>            
                <ul>
                    <li>Learned topics regarding fundamentals of penetration testing, such as Metasploit, SQLMap, Hashcat, Hydra, Nmap, package capture</li>
                    <li>Developed a comprehensive understanding of cybersecurity principles and the methodologies used to execute cyber-attacks</li>
                    <li>Tech Stack: Penetration Testing, Vulnerability Assessment, Security Tools Proficiency (Nmap, Wireshark, Metasploit, SQLMap, Meterpreter), Network Security, and OSCP </li>
                </ul>
            </article>

            <article>
                <h3>Rice Venture Capital & Private Equity Club</h3>
                <p><strong>Front and Backend Web Developer</strong> (August 2023 – December 2023)</p>
                <ul>
                    <li>Coded a simple website for the Rice Venture Capital using PHP, HTML, CSS, and JavaScript</li>
                    <li>Used PHP and XAMP Apache to collect emails and place them into a SQL database for patron newsletters</li>
                    <li>Tech Stack: XAMP Apache, PHP, CSS, JavaScript, HTML, SQL, Databases</li>
                </ul>
            </article>

            <article>
                <h3>Tandon School of Engineering at NYU</h3>
                <p>
                    <strong> Offensive Penetration Testing 
                        <a href="https://coursera.org/verify/NMNGBSJP77R7" target="_blank" style="text-decoration: none; font-style: italic; color: inherit;">
                            Certificate
                        </a>
                    </strong> 
                    (August 2023 – December 2023)
                </p> 
                <ul>
                    <li>Introductory course detailing various malware, cyber-attacks, and real-world applications use such as Kali Linux, NMAP, Wireshark, and
                        Brute force tools such as Hydra and John the Ripper</li>
                    <li>Tech Stack: Cybersecurity, Information Security (INFOSEC), Denial-Of-Service-Attack, Risk Assessment</li>
                </ul>
            </article>
        </section>

        <section id="leadership">
            <h2>Leadership & Involvement</h2>
            <article>
                <h3>The Computer Science and Mathematics Club</h3>
                <p><strong>General Member & Secretary</strong> (August 2023 – Present)</p>
                <ul>
                    <li>Recorded club meetings, managed scheduling, and ensured the organization and accessibility of club documents</li>
                </ul>
            </article>

            <article>
                <h3>Latin American Student Organization</h3>
                <p><strong>General Member</strong> (August 2022 – Present)</p>
                <ul>
                    <li>Assisted and hosted events for LASO regarding the diverse and complex cultures of the Latinx communities</li>
                </ul>
            </article>

        </section>
        
        <section id="skills">
            <h2>Skills & Interests</h2>
            <p><strong>Skills:</strong> Java, Python, C++, HTML, php, Kali Linux, Wireshark, Nmap, CSS, XAMP, Vscode, Artice Wolf, Palo Alto, Nessus, Rapid7, Google Suite</p>
            <p><strong>Languages:</strong> Fluent in English; Conversational Proficiency in Spanish</p>
            <p><strong>Interests:</strong> Coding, Hacking, Weightlifting</p>
        </section>

        <section id="projects">
            <h2>
                <strong> Current Projects Under
                    <a href="https://github.com/Dannychz7" target="_blank" style="text-decoration: none; font-style: italic; color: inherit;">
                        Development
                    </a>
                </strong> 
            </h2>  
            <p><strong>Cyber Security:</strong> HackTheBox Questions, SIEM Lab (Using Splunk Attack Range) </p>
            <p><strong>Software Devolpment:</strong> APEX Finance, Tops Wheels and Tires Website</p>
            <p><strong>Software Engineering:</strong> Custom at Home Server (using Samba, Jellyfin, Wireguard, and Etherwake)</p>
        </section>

    </main>
    
    <footer>
        <div class="container">
            <p>© 2024 Daniel Chavez | All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
